<div class="paddingTopLogo">
  <div class="logo" text-center>
    <ion-img src="/assets/img/logo.png" style="height: 200px;"></ion-img>
  </div>
  <div class="form"></div>
</div>
<form (ngSubmit)="signUp()" [formGroup]="signUpForm">
  <ion-item class="paddingTopInput boxShadow borderRadius">
    <ion-input
      required
      type="text"
      placeholder="name"
      formControlName="name"
      autofocus
    ></ion-input>
  </ion-item>

  <ion-item class="paddingTopInput boxShadow borderRadius">
    <ion-input
      required
      type="text"
      placeholder="surnames"
      formControlName="surnames"
    ></ion-input>
  </ion-item>

  <ion-item class="paddingTopInput boxShadow borderRadius">
    <ion-input
      required
      type="text"
      placeholder="country"
      formControlName="country"
    ></ion-input>
  </ion-item>

  <ion-item class="paddingTopInput boxShadow borderRadius">
    <ion-input
      required
      type="text"
      placeholder="phones"
      formControlName="phones"
    ></ion-input>
  </ion-item>

  <ion-item class="paddingTopInput boxShadow borderRadius">
    <ion-input
      required
      type="text"
      placeholder="email"
      formControlName="email"
    ></ion-input>
  </ion-item>

  <ion-item class="paddingTopInput boxShadow borderRadius">
    <ion-input
      required
      type="password"
      placeholder="password"
      formControlName="password"
    ></ion-input>
  </ion-item>
  <div class="animated bounceInUp fast3" padding>
    <ion-button (click)="signUp()" shape="round" color="primary" expand="block"
      >Create Account</ion-button
    >
  </div>
</form>

<div text-center margin-top>
  <span ion-text color="secondary" tappable (click)="authService.changeView(1)"
    >You already have an account? <strong>Sign up</strong></span
  >
</div>
