<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid padding text-center>
    <ion-row>
      <ion-col size="5">
        <div class="user-avatar"><img src="/assets/user.png" /></div>
      </ion-col>
      <ion-col size="7">
        <ion-row>
          <ion-col size="12"> Estudiante </ion-col>
          <ion-col size="12">
            <ion-button (click)="goProfile()" expand="block"
              >Editar Perfil</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="5"><p>Junior Rojas</p></ion-col>
      <ion-col text-right size="7"><p>Medellin, Colombia</p> </ion-col>
      <ion-col text-justify size="12"
        ><p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
          alias quam illum officia inventore voluptate minima nam vel aut
          assumenda sequi sunt aperiam! Distinctio dignissimos, recusandae
          placeat et numquam provident!
        </p></ion-col
      >
    </ion-row>
  </ion-grid>
  <div><hr /></div>
  <div>
    <ion-card text-center>
      <ion-img src="/assets/certificado.jpg"></ion-img>
      <ion-card-content> <p>Download certificate</p> </ion-card-content>
    </ion-card>
    <ion-card text-center>
      <ion-img src="/assets/certificado.jpg"></ion-img>
      <ion-card-content> <p>Download certificate</p> </ion-card-content>
    </ion-card>
    <ion-card text-center>
      <ion-img src="/assets/certificado.jpg"></ion-img>
      <ion-card-content> <p>Download certificate</p> </ion-card-content>
    </ion-card>
  </div>
</ion-content>
