<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Course Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="card">
    <ion-img id="img_" src="/assets/img/Wall-Street-bolsa-11.jpg"></ion-img>
    <div class="card-title">{{ course.name }}</div>
    <div class="card-subtitle">100+ students</div>
  </div>
  <ion-card>
    <ion-card-content>
      <h1>{{ course.price | currency }}</h1>
      <p>
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit..."
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-button expand="full" (click)="addToCart()">Comprar Ahora</ion-button>
    <hr />
    <h3 text-center><a (click)="addToWishlist()">add to wish list</a></h3>
  </ion-card>
  <ion-card padding>
    <ion-card-header>
      <ion-card-title>Que incluye?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ol>
        <li>Lorem ipsum dolor sit amet,</li>
        <li>Lorem ipsum dolor sit amet,</li>
        <li>Lorem ipsum dolor sit amet,</li>
        <li>Lorem ipsum dolor sit amet,</li>
        <li>Lorem ipsum dolor sit amet,</li>
      </ol>
    </ion-card-content>
  </ion-card>
  <ion-card padding>
    <ion-card-header>
      <ion-card-title>Que aprenderás?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ol>
        <li>Lorem ipsum dolor sit amet,</li>
        <li>Lorem ipsum dolor sit amet,</li>
        <li>Lorem ipsum dolor sit amet,</li>
        <li>Lorem ipsum dolor sit amet,</li>
        <li>Lorem ipsum dolor sit amet,</li>
      </ol></ion-card-content
    >
  </ion-card>
  <ion-card padding>
    <ion-card-header>
      <ion-card-title>descripción</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum."
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card padding>
    <ion-card-header>
      <ion-card-title>requisitos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ol>
        <li>Lorem ipsum dolor sit amet,</li>
        <li>Lorem ipsum dolor sit amet,</li>
        <li>Lorem ipsum dolor sit amet,</li>
        <li>Lorem ipsum dolor sit amet,</li>
        <li>Lorem ipsum dolor sit amet,</li>
      </ol></ion-card-content
    >
  </ion-card>
  <ion-card padding>
    <ion-card-header>
      <ion-card-title>Programa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start"> <h1>1</h1> </ion-avatar>
          <ion-label>
            <h2>Finn</h2>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start"> <h1>1</h1> </ion-avatar>
          <ion-label>
            <h2>Finn</h2>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start"> <h1>1</h1> </ion-avatar>
          <ion-label>
            <h2>Finn</h2>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start"> <h1>1</h1> </ion-avatar>
          <ion-label>
            <h2>Finn</h2>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start"> <h1>1</h1> </ion-avatar>
          <ion-label>
            <h2>Finn</h2>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start"> <h1>1</h1> </ion-avatar>
          <ion-label>
            <h2>Finn</h2>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start"> <h1>1</h1> </ion-avatar>
          <ion-label>
            <h2>Finn</h2>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card padding>
    <ion-card-header>
      <ion-card-title>Creado Junior rojas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="/assets/img/Wall-Street-bolsa-11.jpg"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>I'm a big deal</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-avatar slot="start">
      <ion-img src="/assets/img/Wall-Street-bolsa-11.jpg"></ion-img>
    </ion-avatar>
    <ion-label>
      <h2>Finn</h2>
      <h3>I'm a big deal</h3>
      <p>Listen, I've had a pretty messed up day...</p>
    </ion-label>
  </ion-item>
</ion-footer>
