<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list padding-top>
    <ion-item (click)="openPlaylist()">
      <ion-avatar slot="start">
        <ion-img src="/assets/img/logo.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="openPlaylist()">
      <ion-avatar slot="start">
        <ion-img src="/assets/img/logo.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="openPlaylist()">
      <ion-avatar slot="start">
        <ion-img src="/assets/img/logo.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="openPlaylist()">
      <ion-avatar slot="start">
        <ion-img src="/assets/img/logo.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
