#card {
  position: relative;
  text-align: center;
}

#img_ {
  filter: blur(3px);
}

.card-title {
  position: absolute;
  top: 36%;
  font-size: 2em;
  width: 100%;
  font-weight: bold;
  color: #fff;
}

.card-subtitle {
  font-size: 1em;
  position: absolute;
  top: 52%;
  width: 100%;
  color: #fff;
}
