<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Trending Formación</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-searchbar
    [(ngModel)]="_query"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event.target.value)"
    (ionCancel)="onCancel($event)"
    animated
  ></ion-searchbar>
  <ion-list padding-top>
    <ion-item *ngFor="let item of items">
      <ion-avatar slot="start">
        <ion-img src="/assets/img/logo.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ item.title }}</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
