<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="myCourses">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>Mis Cursos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="wishList">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Deseos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
