<div class="paddingTopLogo animated fadeIn">
  <div class="logo" text-center>
    <ion-img src="/assets/img/logo.png" style="height: 200px;"></ion-img>
  </div>
  <div class="form"></div>
</div>
<div>
  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <ion-item class="paddingTopInput boxShadow borderRadius">
      <h3 slot="start"><ion-icon name="person"></ion-icon></h3>
      <ion-input
        required
        type="text"
        placeholder="email"
        formControlName="email"
      ></ion-input>
    </ion-item>

    <ion-item class="paddingTopInput boxShadow borderRadius">
      <h3 slot="start"><ion-icon name="key"></ion-icon></h3>
      <ion-input
        required
        type="password"
        placeholder="password"
        formControlName="password"
      ></ion-input>
      <a (click)="authService.changeView(3)">
        <h3 slot="end"><ion-icon name="help"></ion-icon></h3>
      </a>
    </ion-item>
    <p
      text-right
      ion-text
      color="secondary"
      tappable
      (click)="authService.changeView(3)"
    >
      <strong>Forgot Password?</strong>
    </p>
    <div class="animated bounceInUp fast3" padding>
      <ion-button (click)="login()" shape="round" color="primary" expand="block"
        >Login</ion-button
      >
    </div>
  </form>

 <!-- <p text-center ion-text color="secondary">Or Sign in with:</p>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <ion-button
          color="primary1"
          icon-only
          expand="block"
          class="btn-facebook"
          ><ion-icon name="logo-facebook"></ion-icon
        ></ion-button>
      </ion-col>
      <ion-col col-4>
        <ion-button
          color="primary1"
          icon-only
          expand="block"
          class="btn-twitter"
        >
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col col-4>
        <ion-button
          (click)="authService.signInWithGoogle()"
          color="primary1"
          icon-only
          expand="block"
          class="btn-gplus"
        >
          <ion-icon name="logo-googleplus"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>-->

  <!-- Other links -->
  <div text-center margin-top>
    <span ion-text color="secondary" tappable (click)="authService.changeView(2)"
      >New here? <strong>Sign up</strong></span
    >
  </div>
</div>
