<div *ngIf="showSplash" class="splash">
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>
<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-content> <app-sidebar-menu></app-sidebar-menu> </ion-content>
      <ion-footer color="primary">
        <ion-toolbar> <ion-title>footer</ion-title> </ion-toolbar>
      </ion-footer>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
