<div padding-top>
  <div text-center><h3>Más vistos</h3></div>
  <ion-list>
    <ion-item (click)="openCourseDetails()">
      <ion-avatar slot="start">
        <ion-img src="/assets/img/logo.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="openCourseDetails()">
      <ion-avatar slot="start">
        <ion-img src="/assets/img/logo.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="openCourseDetails()">
      <ion-avatar slot="start">
        <ion-img src="/assets/img/logo.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
