<div padding-top *ngFor="let cat of items" class="category-block">
  <ion-row no-padding class="category-banner">
    <ion-col
      text-left
      button
      tappable
      (click)="cat.expanded = !cat.expanded"
      align-self-center
    >
      {{ cat.category }}
    </ion-col>
  </ion-row>

  <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor="let product of cat.products">
      <div *ngIf="cat.expanded">
        <ion-card (click)="addToCart(product)">
          <ion-card-header>
            <ion-card-title>
              {{ product.name }} - ${{ product.price }}
            </ion-card-title>
            <ion-card-content>
              <img src="https://via.placeholder.com/300x300" />
              <!--<ion-button expand="full" (click)="addToCart(product)"
                >Add to Cart</ion-button
                >-->
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-slide>
  </ion-slides>
</div>
