<ion-header>
  <ion-toolbar color="primary">
    <ion-icon slot="start" (click)="close()" name="arrow-back"></ion-icon>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card text-center>
    <ion-img src="/assets/user.png"></ion-img>
    <ion-card-content> <p>Cambiar foto</p> </ion-card-content>
  </ion-card>
  <ion-card text-center>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">localización</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">biografía</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-card>

  <ion-card text-center>
    <ion-card-content>
      <ion-item text-uppercase>
        <ion-label>lenguaje</ion-label>
        <ion-select placeholder="select filter" [(ngModel)]="filterNEM">
          <ion-select-option value="name">Español</ion-select-option>
          <ion-select-option value="code">English</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card text-center>
    <ion-card-content>
      <ion-item>
        <ion-label>Notificación</ion-label>
        <ion-toggle checked slot="end"></ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card text-uppercase text-center>
    <ion-card-content> <p>calificar app</p> </ion-card-content>
  </ion-card>
  <ion-card text-uppercase text-center>
    <ion-card-content> <p>privacidad y políticas</p> </ion-card-content>
  </ion-card>
  <ion-card text-uppercase text-center>
    <ion-card-content> <p>términos de uso</p> </ion-card-content>
  </ion-card>
</ion-content>
