<ion-card (click)="openCourseDetails()">
  <ion-img src="https://via.placeholder.com/300x300"></ion-img>
  <ion-card-header text-center>
    <ion-card-title>Lesson 1</ion-card-title>
  </ion-card-header>
  <ion-card-content text-justify>
    <p>
      Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos
      de texto. Lorem Ipsum ha sido el texto de relleno estándar de las
      industrias desde el año 1500,
    </p>
  </ion-card-content>
</ion-card>
