<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Trending Formación</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Curso Principal-->
  <app-main-course></app-main-course>
  <!--Lista de curso en collage-->
  <app-collapse-course></app-collapse-course>
  <!--Curso mas visto-->
  <app-most-viewed-course></app-most-viewed-course>
</ion-content>
