<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div></div>
  <div *ngIf="selectedItems.length > 0">
    <ion-list>
      <ion-item *ngFor="let item of selectedItems" lines="inset">
        {{ item.count }}x {{ item.name }} -
        {{ item.price | currency: "USD":"symbol" }}
        <ion-label slot="end" text-right>{{
          item.price * item.count | currency: "USD":"symbol"
        }}</ion-label>
      </ion-item>
      <ion-item>
        Total: <span slot="end">{{ total | currency: "USD":"symbol" }}</span>
      </ion-item>
    </ion-list>
    <div></div>
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <ion-button (click)="payu()" expand="block" color="success"
            >PAYU</ion-button
          >
        </ion-col>
        <ion-col size="2"> </ion-col>
        <ion-col size="5">
          <ion-button expand="block" color="warning" (click)="paypal()"
            >PAYPAL</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-card *ngIf="selectedItems.length == 0" text-center>
    <ion-card-header>
      <ion-card-title>Vacio :C</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
