<ion-slides pager="true">
  <ion-slide class="step-one">
    <ion-img src="https://via.placeholder.com/1200x1200"></ion-img>
    <h1>Heading</h1>
    <p>Text 1</p>
  </ion-slide>

  <ion-slide class="step-two">
    <ion-img src="https://via.placeholder.com/1200x1200"></ion-img>
    <h1>Heading</h1>
    <p>Text 2</p>
  </ion-slide>

  <ion-slide class="step-three">
    <ion-img src="https://via.placeholder.com/1200x1200"></ion-img>
    <h1>Heading</h1>
    <p>Text 3</p>

    <ion-button (click)="finish()">FINISH TUTORIAL!</ion-button>
  </ion-slide>
</ion-slides>
