<div class="paddingTopLogo">
  <div class="logo" text-center>
    <ion-img src="/assets/img/logo.png" style="height: 200px;"></ion-img>
  </div>
  <div class="form"></div>
</div>
<form (ngSubmit)="recoverPassword()" [formGroup]="recoverPasswordForm">
  <div text-center><h3>Recover Password</h3></div>
  <ion-item class="paddingTopInput boxShadow borderRadius">
    <ion-input
      formControlName="email"
      required
      type="text"
      placeholder="email"
    ></ion-input>
  </ion-item>
  <div class="animated bounceInUp fast3" padding>
    <ion-button
      (click)="recoverPassword()"
      shape="round"
      color="primary"
      expand="block"
      >send code</ion-button
    >
  </div>
</form>
<div text-center margin-top>
  <span ion-text color="secondary" tappable (click)="authService.changeView(1)"
    >You already have an account? <strong>Sign up</strong></span
  >
</div>
