<ion-content padding>
  <!--Login--->
  <div
    *ngIf="_auth._signIn"
    padding
    class="animated"
    [ngClass]="{ zoomIn: _auth._signIn }"
  >
    <app-sign-in></app-sign-in>
  </div>
  <!--Crear cuenta-->
  <div
    *ngIf="_auth._signUp"
    padding
    class="animated"
    [ngClass]="{ zoomIn: _auth._signUp }"
  >
    <app-sign-up></app-sign-up>
  </div>

  <!--olvido contraseña-->
  <div
    *ngIf="_auth._recoverPassword"
    padding
    class="animated"
    [ngClass]="{
      zoomIn: _auth._recoverPassword
    }"
  >
    <app-recover-password></app-recover-password>
  </div>
</ion-content>
