// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./assets/library/css/animate.css";

.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3880ff;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #ffffff;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/*.content {
  background-image: url("./assets/spinner2.gif");
  background-color: #17234e;
  color: #ffff;
  margin-bottom: 0;
  min-height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 1000px;
}*/

// buttons configs
.btn-facebook {
  background-color: #3b5999 !important;
}

.btn-twitter {
  background-color: #00acee !important;
}

.btn-gplus {
  background-color: #e04006 !important;
}

.boxShadow {
  -webkit-box-shadow: 0px 14px 26px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 26px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 26px -12px rgba(0, 0, 0, 0.75);
}

.boxShadow:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.borderRadius {
  border-radius: 91px 91px 91px 91px;
  -moz-border-radius: 91px 91px 91px 91px;
  -webkit-border-radius: 91px 91px 91px 91px;
  border: 0px solid #000000;
}

/**
Clase de auth
*/
.paddingTopInput {
  padding-top: 30px;
}

.paddingTopLogo {
  padding-top: 20px;
}
