<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Nombre del Video</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <video
    #videoPlayer
    [src]="_videoUrl"
    poster="/assets/img/Wall-Street-bolsa-11.jpg"
    class="video-player"
    controls
  ></video>
  <div padding>
    <p text-justify>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic aliquid
      officiis dolores consequatur odio aperiam et ipsa alias quasi maiores
      recusandae molestiae laudantium, corporis ducimus ullam voluptatem.
      Consectetur, quisquam voluptatibus.
    </p>
  </div>
  <div>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="/assets/img/logo.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>I'm a big deal</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="/assets/img/logo.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>I'm a big deal</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="/assets/img/logo.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>I'm a big deal</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="/assets/img/logo.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>I'm a big deal</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="/assets/img/logo.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>I'm a big deal</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="/assets/img/logo.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>I'm a big deal</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="/assets/img/logo.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>I'm a big deal</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="/assets/img/logo.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>I'm a big deal</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <hr />
</ion-content>
