<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>WishList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item
      *ngFor="let item of (items | async)"
      (click)="openCourseDetails(item)"
    >
      <ion-avatar slot="start">
        <ion-img src="/assets/img/logo.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <h3>{{ item.price }}</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
